@import  '../node_modules/@angular/material/theming';
@include mat-core();

$tms-petrol:(
    50 : #e2efef,
    100 : #b7d8d7,
    200 : #87bebd,
    300 : #56a3a3,
    400 : #32908f,
    500 : #0e7c7b,
    600 : #0c7473,
    700 : #0a6968,
    800 : #085f5e,
    900 : #044c4b,
    A100 : #80fffd,
    A200 : #4dfffc,
    A400 : #1afffb,
    A700 : #00fffb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-orange: (
    50 : #ffece5,
    100 : #ffcebe,
    200 : #ffae93,
    300 : #fe8e67,
    400 : #fe7547,
    500 : #fe5d26,
    600 : #fe5522,
    700 : #fe4b1c,
    800 : #fe4117,
    900 : #fd300d,
    A100 : #ffffff,
    A200 : #fff6f5,
    A400 : #ffc9c2,
    A700 : #ffb2a8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-bordeaux: (
    50 : #eae0e2,
    100 : #cab3b6,
    200 : #a78085,
    300 : #844d54,
    400 : #692630,
    500 : #4f000b,
    600 : #48000a,
    700 : #3f0008,
    800 : #360006,
    900 : #260003,
    A100 : #ff6161,
    A200 : #ff2e2e,
    A400 : #fa0000,
    A700 : #e00000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$tms-anthrazit: (
    50 : #e7e7e7,
    100 : #c3c2c3,
    200 : #9b9a9b,
    300 : #727273,
    400 : #545355,
    500 : #363537,
    600 : #303031,
    700 : #29282a,
    800 : #222223,
    900 : #161616,
    A100 : #ef6f6f,
    A200 : #ea4141,
    A400 : #f80000,
    A700 : #df0000,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$tms-desert: (
    50 : #fdf7ef,
    100 : #fbecd7,
    200 : #f9e0bc,
    300 : #f6d3a1,
    400 : #f4c98c,
    500 : #f2c078,
    600 : #f0ba70,
    700 : #eeb265,
    800 : #ecaa5b,
    900 : #e89c48,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffecd9,
    A700 : #ffe0bf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-black: (
    50 : #e2e1e2,
    100 : #b6b5b6,
    200 : #858486,
    300 : #545355,
    400 : #2f2e30,
    500 : #0a090c,
    600 : #09080a,
    700 : #070608,
    800 : #050506,
    900 : #030203,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$tms-eggshell: (
    50 : #fdfdfd,
    100 : #fbfafa,
    200 : #f8f6f7,
    300 : #f5f2f3,
    400 : #f2f0f1,
    500 : #f0edee,
    600 : #eeebec,
    700 : #ece8e9,
    800 : #e9e5e7,
    900 : #e5e0e2,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-blue: (
    50 : #e6eaed,
    100 : #c1cad3,
    200 : #98a6b6,
    300 : #6e8299,
    400 : #4f6883,
    500 : #304d6d,
    600 : #2b4665,
    700 : #243d5a,
    800 : #1e3450,
    900 : #13253e,
    A100 : #7badff,
    A200 : #488dff,
    A400 : #156eff,
    A700 : #005ffb,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$tms-amber: (
    50 : #fbe7e3,
    100 : #f6c3b9,
    200 : #f09b8b,
    300 : #e9725c,
    400 : #e55439,
    500 : #e03616,
    600 : #dc3013,
    700 : #d82910,
    800 : #d3220c,
    900 : #cb1606,
    A100 : #fff5f4,
    A200 : #ffc4c1,
    A400 : #ff948e,
    A700 : #ff7c75,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-ice: (
    50 : #eff3f6,
    100 : #d8e2e8,
    200 : #becfd9,
    300 : #a3bbc9,
    400 : #90adbe,
    500 : #7c9eb2,
    600 : #7496ab,
    700 : #698ca2,
    800 : #5f8299,
    900 : #4c708a,
    A100 : #e9f6ff,
    A200 : #b6e0ff,
    A400 : #83cbff,
    A700 : #69c0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-sky: (
    50 : #f3fbff,
    100 : #e0f4fe,
    200 : #ccedfe,
    300 : #b7e5fd,
    400 : #a7e0fc,
    500 : #98dafc,
    600 : #90d6fc,
    700 : #85d0fb,
    800 : #7bcbfb,
    900 : #6ac2fa,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #edf8ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-wood: (
    50 : #fbf5f0,
    100 : #f4e6db,
    200 : #edd6c3,
    300 : #e5c6aa,
    400 : #e0b998,
    500 : #daad86,
    600 : #d6a67e,
    700 : #d09c73,
    800 : #cb9369,
    900 : #c28356,
    A100 : #ffffff,
    A200 : #fff8f3,
    A400 : #ffdac0,
    A700 : #ffcaa7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
$tms-stone: (
    50 : #e6e6e6,
    100 : #c1c0c2,
    200 : #989699,
    300 : #6f6b70,
    400 : #504c51,
    500 : #312c32,
    600 : #2c272d,
    700 : #252126,
    800 : #1f1b1f,
    900 : #131013,
    A100 : #f366f3,
    A200 : #f037f0,
    A400 : #f300f3,
    A700 : #da00da,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
