<div class="exportGrid">
    <div class="mailWrapper">
        <h2 id="emailExportHeading">
            E-Mail Export
        </h2>
        <p>Get your document emailed to your mail address.
            <br> To change the mail address check the bottom right settings button.</p>
        <mat-form-field>
            <mat-select placeholder="Content to be sent" [(ngModel)]="selectedMailOption">
                <mat-option *ngFor="let option of mailOptions" [value]="option.content">
                    {{ option.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button class="sendMailButton" (click)="processDataAndSendMail()">Send E-Mail</button>
    </div>
    <div class="downloadWrapper">
        <h2 id="downloadExportHeading">
            Download
        </h2>
        <mat-form-field>
            <mat-select placeholder="Content to download" [(ngModel)]="selectedDownloadOption">
                <mat-option *ngFor="let option of downloadOptions" [value]="option.content">
                    {{ option.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Download format" [(ngModel)]="selectedDownloadFormat">
                <mat-option *ngFor="let option of formatOptions" [value]="option.content">
                    {{ option.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button class="downloadButton" (click)="processDataAndDownload()">Download</button>
    </div>
</div>