<div (keyup.enter)="updatefullTask(task)" (blur)="updatefullTask(task)" >
  <mat-card>
    <!-- <mat-card-header> -->
    <mat-card-content>
      <div class="container">
        <!-- <mat-card-title> -->
        <div class="left">
          <div class="title">
            <mat-form-field hintLabel="Max 40 characters" class="title">
              <input matInput [(ngModel)]="task.title" type="text" id="title" placeholder="Title" maxlength="40" #message (blur)="updatefullTask(task)">
              <mat-hint align="end">{{message.value?.length || 0}}/40</mat-hint>
            </mat-form-field>
          </div>

          <div class="description">
            <!-- </mat-card-title> -->
            <!-- </mat-card-header> -->
            <!-- <mat-card-content> -->
            <mat-form-field hintLabel="Max 70 characters" class="description">
              <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="8" maxlength="70" #description [(ngModel)]="task.description"
                type="text" placeholder="Description" (blur)="updatefullTask(task)"></textarea>
              <mat-hint align="end">{{description.value?.length || 0}}/70</mat-hint>
            </mat-form-field>
          </div>
          <br>
          <div class="status">
            <mat-form-field class="status">
              <mat-select placeholder="{{task.done}}" (blur)="updatefullTask(task)" [(ngModel)]="task.done">
                <mat-option *ngIf="task.done === true" value="Done"></mat-option>
                <mat-option *ngIf="task.done === false" value="ToDo"></mat-option>
                <mat-option *ngFor="let s of status" [value]="s.value">
                  {{s.view}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="category">
            <mat-form-field class="category">
              <mat-select placeholder="{{task.category}}" [(ngModel)]="task.category" (blur)="updatefullTask(task)">
                <mat-option>{{task.category}}</mat-option>
                <mat-option *ngFor="let t of category" [value]="t.value">
                  {{t.view}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <mat-card-content >
          <!-- <mat-list >
            <mat-list-item *ngFor="let note of task.notes;">{{note}}</mat-list-item>

          </mat-list> -->
          <div class="scroll">
            <!-- scrollable view -->
            <ul>
              <li *ngFor="let note of task.notes;">{{note}}</li>
            </ul>
          </div>
        </mat-card-content>


        <div class="bottom-left">
          <mat-input-container>
            <input matInput disabled type="text" placeholder="Created at:" value="{{task.createdAt | date: 'medium'}}">
          </mat-input-container>
        </div>
        <div class="bottom-right">
          <mat-input-container>
            <input matInput disabled type="text" placeholder="Updated at:" value="{{task.updatedAt | date: 'medium'}}">
          </mat-input-container>
        </div>
        <div class="bottom-left">

          <span>{{formatTime(task.time)+ ' spent on this task'}}</span>

        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="updatefullTask(task, message.value)">update</button>
      <!-- update on enter or not focuse -->
      <label id="info">or press Enter to update to DB  ..still there for testing</label>
    </mat-card-actions>

  </mat-card>
</div>