mat-card {
  width: 150%;
}

#info {
    font-size: 9px;
    color: red;
  }

.container {
  display: grid;
  grid-template-columns: minmax(max-content, 300px) minmax(max-content, 300px);
  grid-template-rows: minmax(auto, auto) minmax(auto, auto);
  grid-gap: 10px;
  padding: 10px;    
}

.left {
  grid-column: 1;

}
.notes {
  grid-column: 2;
  
}
.bottom-left {
  grid-column: 1;
}
.bottom-right {
  grid-column: 2;
}

.title {
  width: 250px;
}

.description {
  width: 250px;
}

.status {
  width: 250px;
}

.category {
  width: 250px;
}

mat-list {
  height: 300px;
  overflow: auto
}

.scroll {
  height: 300px;
  overflow: auto
}