<div (keyup.enter)="updatefullTask(task)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>{{task.title}}</h2>        
      </mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>  
      <mat-input-container>
          <input matInput [(ngModel)]="task.title" type="text" id="title" placeholder="Title">         
      </mat-input-container>
      <mat-input-container>
          <input matInput [(ngModel)]="task.description" type="text"  placeholder="Description">          
      </mat-input-container>  
        <br> 
      <mat-input-container matTooltip="Can't be edited!" [matTooltipPosition]="position">
          <input matInput disabled type="text"  placeholder="Created at:" value="{{task.createdAt | date}}">         
      </mat-input-container>  
      <mat-input-container matTooltip="Can't be edited!" [matTooltipPosition]="position">
          <input matInput disabled  type="text"  placeholder="Updated at:" value="{{task.updatedAt | date}}">    
      </mat-input-container>
      <br>
      <mat-input-container matTooltip="Can't be edited!" [matTooltipPosition]="position">
          <input matInput disabled type="text"  placeholder="Status:" value="{{task.done}}">          
      </mat-input-container>
        
      <br>
      <label id="info">Press Enter to update</label>
    </mat-card-content>
    <mat-card-actions>
          
    </mat-card-actions>
  </mat-card>
</div> 
