<!-- <div (keyup.enter)="updatefullTask(task)"> -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <mat-input-container class="input-widht">
          <input matInput [(ngModel)]="task.title" type="text" id="title" placeholder="Title" style="font-size: 150%"  #message>  
        </mat-input-container>       
      </mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>  
                
      <mat-input-container class="input-widht-des">
          <textarea matInput matTextareaAutosize matAutosizeMinRows="2"matAutosizeMaxRows="8" [(ngModel)]="task.description" type="text" placeholder="Description"></textarea>          
      </mat-input-container>  
        <br> 
      <mat-input-container >
          <input matInput disabled type="text"  placeholder="Created at:" value="{{task.createdAt | date: 'medium'}}">         
      </mat-input-container>  
      <mat-input-container >
          <input matInput disabled  type="text"  placeholder="Updated at:" value="{{task.updatedAt | date: 'medium'}}">    
      </mat-input-container>
      <br>
      <mat-input-container >
          <input matInput disabled type="text"  placeholder="Status:" *ngIf="task.done === false" value="{{task.done}}">  
          <input matInput disabled type="text"  placeholder="Status:" *ngIf="task.done === true" value="Done">        
      </mat-input-container>
        
      <br>
      <ul>
          <li *ngFor="let note of task.notes;">{{note}}</li>
        </ul>

    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button  (click)="updatefullTask(task, message.value)">update</button>
        <!-- <label id="info">or press Enter to update</label> -->
    </mat-card-actions>
  </mat-card>
<!-- </div>  -->
