
<div class="container">
  <div class="colOne">

    <div>
      <mat-card>
        <div class="firstRow">
          <button class="addButton" (click)="addDialogTask()" mat-raised-button> Add Task</button>
          <button mat-button [matMenuTriggerFor]="menu">Menu</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="showTAll()">All</button>
            <button mat-menu-item (click)="showDaily()">Daily</button>
            <button mat-menu-item (click)="showDone()">Done</button>
            <button mat-menu-item (click)="showFavorite()">Favorite</button>
            <button mat-menu-item (click)="showNotAssigned()">Not Assigned</button>
            <button mat-menu-item (click)="showToDo()">To-Do</button>
          </mat-menu>
        </div>        
        <br>
        <label>Current category: <b>{{showCategory}}</b></label>
      </mat-card>
    </div>
    <div *ngIf="showT === true">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of tasksToDo">
          <mat-expansion-panel-header (click)="onselect(task)">
            <mat-panel-title>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-raised-button (click)="onDeleteTask(task)">Delete</button>
            <button mat-raised-button (click)="onTimeReset(task)">Time Reset</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="showD === true">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of tasksDone">
          <mat-expansion-panel-header (click)="onselect(task)">
            <mat-panel-title>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-raised-button (click)="onDeleteTask(task)">Delete</button>
            <button mat-raised-button (click)="onTimeReset(task)">Time Reset</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="showDa === true">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of tasksDaily">
          <mat-expansion-panel-header (click)="onselect(task)">
            <mat-panel-title>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-raised-button (click)="onDeleteTask(task)">Delete</button>
            <button mat-raised-button (click)="onTimeReset(task)">Time Reset</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="showF === true">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of tasksFavorite">
          <mat-expansion-panel-header (click)="onselect(task)">
            <mat-panel-title>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-raised-button (click)="onDeleteTask(task)">Delete</button>
            <button mat-raised-button (click)="onTimeReset(task)">Time Reset</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="showA === true">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of tasksNotAssigned">
          <mat-expansion-panel-header (click)="onselect(task)">
            <mat-panel-title>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-raised-button (click)="onDeleteTask(task)">Delete</button>
            <button mat-raised-button (click)="onTimeReset(task)">Time Reset</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div *ngIf="showAll === true">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let task of tasks">
          <mat-expansion-panel-header (click)="onselect(task)">
            <mat-panel-title>
              {{task.title}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-action-row>
            <button mat-raised-button (click)="onDeleteTask(task)">Delete</button>
            <button mat-raised-button (click)="onTimeReset(task)">Time Reset</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

  </div>
  <!-- </mat-grid-tile> -->


  <!-- <mat-grid-tile class="details" flex>   -->
  <div class="colTwo" *ngIf="selectedTask">
    <app-task-detail [task]="selectedTask" *ngIf="openCollapse === true " (updateTask)="onupdateTask($event) "></app-task-detail>
  </div>
</div>
<!-- </mat-grid-tile> -->

<!-- </mat-grid-list> -->