.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 10px;
    padding: 10px;    
}

.colOne {
    grid-column-start: 1;    
    grid-column-end: 2;
}

.colTwo {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;    
}

.input-widht {
    width: 50%;
}

.addButton {
    width: 80%;
}
    
