

<mat-card>
  <mat-input-container>
    Task Name : <input type="text" matInput [(ngModel)]="task.title" >
  </mat-input-container>
  <mat-input-container>
      Description : <input type="text" matInput [(ngModel)]="task.description" >
    </mat-input-container>
  <mat-card-actions>
      <button mat-button (click)="onAddTask(task)">add</button>
      
  </mat-card-actions>
</mat-card>

<div class="tasklist">
  <div *ngFor="let task of tasklist" [class.selected]="task === selectedTask" >
          
    <task [task]= "task" (click)="show=!show" (click)="onselect(task)"        
          (delete)="onDeleteTask(task)">
    </task>              
  
  </div>
</div>
  
  
<div *ngIf="selectedTask" class="details">
  <app-task-detail [task]="selectedTask" *ngIf="show" ></app-task-detail>
</div>

  

