mat-grid-list{
    width: 50%;
    float:left;
}

.selected{
    background-color: lightgrey;
}

.default-tile{
    height: 95%;
    width: 95%;
    text-decoration: none;
    color: black;
    display: table;
    border-style: solid;
}

.taskname{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
}