mat-card{
    position: fixed; 
    width: 34%;
    left: 60.5%;
}

.noteWindow{
    border-style: solid;
    border-width: 1px;
    width: 94%;
    height: 20em;
    text-align: left;
    overflow: auto
}

.noteWindow li{
    margin-top: 1em;
}

// .noteInput{
//     width: 70%;
//     margin-top: 0.5em;
//     float: left;
// }

.enterButton{
    height: 1.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
    float:left;
    display: table;
}

mat-icon{
    display: table-cell;
}

.buttons{
    margin-left: 1em;
    padding-bottom: 0.5em;
    position: absolute;
    top: 5%;
    right: 3%;
}

.noSelect{
    width: 58em;
    height: 29em;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-family: 'Lato', sans-serif;
}

.editNote{
    font-family: 'Lato', sans-serif;
    min-width: 20%;
}

// mat-slide-toggle{
//     // position: absolute;
//     // bottom: 4.75%;
//     // right: 6%;
//     margin-left: 2em;
//     margin-top: 0.3em;
//     min-width: 2em;
// }

#inputWrapper{
    width: 100%;
}


#inputWrapper input{
    width: 70%;
    float: left;
}

#inputWrapper mat-slide-toggle{
    float: right;
    width: 9em;
    min-width: 9em;
}

#taskTitle{
    width: 70%;
}
