<mat-card>
  <mat-card-header>
    <mat-card-title>
      <timer></timer>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>Task 1</h2>
    <div class="noteWindow">
      <p>- Note 1</p>
      <p>- Note 2</p>
      <p>- Note 3</p>
      <p>- Note 4</p>
    </div>
    <input class="noteInput" type="text" placeholder="Type a note here">
  </mat-card-content>
  <mat-card-actions>
    <!-- Here possible Action buttons at the buttom of the Card -->
  </mat-card-actions>
</mat-card>