<mat-horizontal-stepper #stepper>
  <!-- Step 1 -->
  <mat-step stepControl="firstFormGroup">
    <ng-template matStepLabel>Management</ng-template>
    <progressbar [tasks]="tasks"></progressbar>
    <app-tasks-view [tasks]="tasks"></app-tasks-view>
  </mat-step>
  <!-- Step 2 -->
  <mat-step stepControl="secondFormGroup">
    <ng-template matStepLabel>Tracking</ng-template>
    <div *ngIf="filterDoneTasks(tasks).length > 0">
      <progressbar [tasks]="tasks"></progressbar>
      <taskgrid [tasks]="tasks"></taskgrid>
      <notetracker id="taskNotes"></notetracker>
    </div>
    <div *ngIf="filterDoneTasks(tasks).length == 0" id="noTasksTemplate">
      <no-tasks [stepper]="stepper" [tasks]="tasks"></no-tasks>
    </div>
  </mat-step>
  <!-- Step 3 -->
  <mat-step stepControl="thirdFormGroup">
    <ng-template matStepLabel>Statistics</ng-template>
    <div *ngIf="filterDoneTasks(tasks).length == 0" id="noTasksTemplate">
      <no-tasks [stepper]="stepper" [tasks]="tasks"></no-tasks>
    </div>
    <div *ngIf="filterDoneTasks(tasks).length > 0">
      <h1 class="noTasksHeader">Statistics Component goes here</h1>
    </div>
  </mat-step>
  <!-- step 4 -->
  <mat-step stepControl="fourthFormGroup">
    <ng-template matStepLabel>Export</ng-template>
    <div *ngIf="filterDoneTasks(tasks).length == 0" id="noTasksTemplate">
      <no-tasks [stepper]="stepper" [tasks]="tasks"></no-tasks>
    </div>
    <div *ngIf="filterDoneTasks(tasks).length > 0">
      <task-export class="export" [tasks]="tasks"></task-export>
    </div>
  </mat-step>
</mat-horizontal-stepper>
<database-selector></database-selector>