<h1 class="noTasksHeading">
    Our work is done here!
</h1>
<div class="noTasksMessage">
    ... or is it?
    <br> It looks like there are no active tasks on your ToDo-List.
    <br> If this is true - congratulations!
    <br>

    <div *ngIf="tasks.length == 0" class="noTasksOffline">
        Otherwise your device might be offline, or the database can't be reached.
        <br> To change your database settings click the button in the bottom-right corner of the app, and try reconnecting.
        <br><br>
        <button mat-button class="noTasksButton" onclick="location.reload();">Try reconnecting!</button>
    </div>
    <div *ngIf="tasks.length != 0" class="noTasksOnline">
        Otherwise you can go back to the first frame to add more Tasks if you want to.
        <br><br>
        <button mat-button class="noTasksButton" (click)="goToFirstFrame()">Take me there!</button>
    </div>
</div>