@import '~@angular/material/theming';
@import './app/themes/tms-theme';
@include mat-core();

// Angular Default theme
$primary: mat-palette($mat-indigo, 500, A100);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

// TMS Default theme
$tms-theme-primary: mat-palette($tms-bordeaux, 400, 100);
$tms-theme-accent: mat-palette($tms-bordeaux, 200, 100);
$tms-theme-warn: mat-palette($mat-red);

// TMS Petrol theme
$tms-petrol-primary: mat-palette($tms-petrol, 700, 100);
$tms-petrol-accent: mat-palette($tms-petrol, 300, 100);
$tms-petrol-warn: mat-palette($tms-petrol, A700, 100);

// TMS Amber theme
$tms-amber-primary: mat-palette($tms-amber, 400, 100);
$tms-amber-accent: mat-palette($tms-amber, 300, 100);
$tms-amber-warn: mat-palette($tms-amber, A700, 100);

// Themes
$theme: mat-light-theme($primary, $accent, $warn);
$tms-theme: mat-light-theme($tms-theme-primary, $tms-theme-accent, $tms-theme-warn);
$tms-petrol-theme: mat-light-theme($tms-petrol-primary, $tms-petrol-accent, $tms-petrol-warn);
$tms-amber-theme: mat-light-theme($tms-amber-primary, $tms-amber-accent, $tms-amber-warn);

// Complete Scheme of our Angular App (Components which use our themes)
@mixin main-tms-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
  
    #trackedTimeFooter{
        background-color: mat-color($primary);
    }
    .default-tile{
        background-color: mat-color($accent);
        color: white;
        border-radius: 1em;
    }
    .default-tile:hover{
        box-shadow: 0 4px 8px 0 mat-color($primary), 0 6px 20px 0 black;
    }
    #noTasksTemplate {
        padding: 6em;
        margin: 3em;
        background: linear-gradient(to right, mat-color($primary), mat-color($warn));
        vertical-align: middle;
        text-align: center;
    }
    .selected{
        background-color: mat-color($primary);
    }
    .mailWrapper {
        background-color: #cccccc;
        border-radius: 15px;
        padding: 20px;
    }
    .downloadWrapper {
        background-color: #cccccc;
        border-radius: 15px;  
        padding: 20px;
    }

    // Predefined/Default modules
    @include angular-material-theme($theme);
}

// Main Include
@include main-tms-theme($tms-theme);


body {
    background-image: url("https://wallpaperscraft.com/image/room_office_desk_chair_shelves_39161_1920x1080.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

.noTasksHeading {
    font-family: 'Spectral SC', serif;
}
.noTasksMessage {
    font-family: 'Lato', sans-serif;
}

.noTasksButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.taskTitleWrapper{
    padding-bottom: 2.5em;
}

#taskTimeWrapper{
    text-align: center;
    width: 100%;
    border-radius: 1em;
}

.noTasksOffline {
    margin-top: 30px;
}

.noTasksOnline {
    margin-top: 30px;
}

.sendMailButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.downloadButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.exportGrid {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-template-rows: auto;
    grid-column-gap: 4%;
    grid-row-gap: 4%;
}

.sendMailButton {
    font-family: 'Lato', sans-serif;
    background-color: mat-color($tms-theme-primary);
    margin-left: 15px;
    width: 120px;
}
.downloadButton {
    font-family: 'Lato', sans-serif;
    background-color: mat-color($tms-theme-primary);
    margin-left: 15px;
    width: 120px;
}
.noTasksButton {
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    background-color: mat-color($tms-theme-primary);
}

#emailExportHeading {
    font-family: 'Dosis', sans-serif;
}
#downloadExportHeading {
    font-family: 'Dosis', sans-serif;
}
