@import '~@angular/material/theming';
@import './app/themes/tms-theme';
@include mat-core();

$primary: mat-palette($mat-indigo, 500, A100);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$tms-theme-primary: mat-palette($tms-bordeaux, 400, 100);
$tms-theme-accent: mat-palette($tms-bordeaux, 200, 100);
$tms-theme-warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);
$tms-theme: mat-light-theme($tms-theme-primary, $tms-theme-accent, $tms-theme-warn);

@include angular-material-theme($tms-theme);

body {
    background-image: url("https://wallpaperscraft.com/image/room_office_desk_chair_shelves_39161_1920x1080.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

#noTasksTemplate {
    padding: 6em;
    margin: 3em;
    background: linear-gradient(to right, mat-color($tms-theme-primary), mat-color($tms-theme-warn));
    vertical-align: middle;
    text-align: center;
}
.noTasksHeading {
    font-family: 'Spectral SC', serif;
}
.noTasksMessage {
    font-family: 'Lato', sans-serif;
}
.noTasksButton {
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    background-color: mat-color($tms-theme-accent);
}
.noTasksButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#trackedTimeFooter{
    background-color: mat-color($tms-theme-primary);
}

.default-tile:hover{
    box-shadow: 0 4px 8px 0 mat-color($tms-theme-primary), 0 6px 20px 0 black;
}

.taskTitleWrapper{
    padding-bottom: 2.5em;
}

#taskTimeWrapper{
    text-align: center;
    width: 100%;
    border-radius: 1em;
}

.default-tile{
    background-color: mat-color($tms-theme-accent);
    color: white;
    // border-style: solid;
    // border-radius: 0.5em;
    // border-width: 1px;
    // border-color: mat-color($tms-theme-primary);
    border-radius: 1em;
}

.selected{
    background-color: mat-color($tms-theme-primary);
}

.noTasksOffline {
    margin-top: 30px;
}

.noTasksOnline {
    margin-top: 30px;
}

.sendMailButton {
    font-family: 'Lato', sans-serif;
    background-color: mat-color($tms-theme-accent);
}
.sendMailButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.downloadButton {
    font-family: 'Lato', sans-serif;
    background-color: mat-color($tms-theme-accent);
}
.downloadButton:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.exportGrid {
    background-color: rgba(0, 0, 0, 0);
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    grid-column-gap: 2%;
}