/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import './app/themes/tms-theme';
@include mat-core();

$primary: mat-palette($mat-indigo, 500, A100);
$accent:  mat-palette($mat-lime, 500, A200, A400);
$warn:    mat-palette($mat-red, 500);

$tms-theme-primary: mat-palette($tms-bordeaux, 400, 100);
$tms-theme-accent: mat-palette($mat-red, 100, 50);
$tms-theme-warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);
$tms-theme: mat-light-theme($tms-theme-primary, $tms-theme-accent, $tms-theme-warn);

@include angular-material-theme($tms-theme);

body {
    font-family: $mat-font-family;
    font-weight: normal;
}

h1, h2, h3, h4 {
    font-weight: normal;
}