<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Task Title</h2></mat-card-title>
    <mat-card-subtitle>Subtitle</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ornare neque eget finibus pretium. Vivamus dolor nunc, aliquet sit amet ex in, finibus dapibus lacus. Integer pellentesque metus elementum, varius sem non, rutrum purus. Integer ut finibus lorem. Proin vehicula blandit facilisis. Curabitur sed sem pellentesque, porttitor libero id, finibus lorem. Nulla vel mauris semper ligula sollicitudin volutpat at nec ante.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <!-- Here possible Action buttons at the buttom of the Card -->
  </mat-card-actions>
</mat-card>