<div class="container">

  <div class="colOne">

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of list">
    <mat-expansion-panel-header (click)="onselect(item)">
      <mat-panel-title>
        {{item}}
      </mat-panel-title>

    </mat-expansion-panel-header>

  </mat-expansion-panel>
</mat-accordion>
  </div>

  <div class="colTwo">
    <app-piechart *ngIf="pieselect()"></app-piechart>
    <app-barchart *ngIf="barselect()" [task]="task"></app-barchart>
    <app-table *ngIf="tableselect()"></app-table>

  </div>
</div>
